<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/scripts/script.js"></script>
    <title>Casey Book</title>
  </head>
  <body>
    <div class = 'navbar'>
      <a href='/profile'>Home</a>
      <a href='/profile/myProfile'><%if (isLoggedIn) {%><%=user.username%>'s <%}%>Profile</a>
      <% if(isLoggedIn) {%><a href='profile/logout' id='logout'>Logout</a><% } %>
    </div>
