<p>Other users</p>
<% for (let oneUser of users) { %>
  <% if (oneUser.username != user.username) { %>
      <a class = 'button' href='/friend/<%=oneUser.username%>'><%=oneUser.username%></a>
  <% } %>
<%}%>
