

  <label>
    <p>Username:</p>
    <input type="text" name="username" required/>
  </label>

  <label>
    <p>Password:</p>
    <input type="password" name="password" required/>

  </label>

  <label>
    <p>Repeat Password:</p>
    <input type="password" name="repeatPassword" required/>
  </label>

  <button type="submit">Submit</button>
