<% include ./partials/boilerplate.ejs %>
<h1>DELETE PAGE</h1>
<%- message %>
<form action="/authenticate/delete?_method=Delete" method="post">
  <% include ./partials/userAuth.ejs %>
</form>
<% include ./partials/footer.ejs %>
