<% include ./partials/boilerplate.ejs %>
<h1>REGISTER PAGE</h1>
<%- message %>
<form action="/authenticate/register" method="post">
  <% include ./partials/userAuth.ejs %>
</form>
<% include ./partials/footer.ejs %>
