<% include ./partials/boilerplate.ejs %>

  <form action="/authenticate/login" method="post">

    <label>
      <p>Username:</p>
      <input type="text" name="username"/>
    </label>

    <label>
      <p>Password:</p>
      <input type="password" name="password"/>

    </label>

    <label>
      <p>Repeat Password:</p>
      <input type="password" name="repeatPassword"/>
    </label>

    <button type="submit">Submit</button>

    </form>

<% include ./partials/footer.ejs %>
